#gameCanvas {
  float: left;
}

.track {
  display: inline;
  clear: both;
}

.tracks:after {
  display: table;
  clear: both;
}

.vowels {
  display: block;
}

.consonants {
  display: block;
}




label {
  font: 12px;
}
